version: 2.1
executors:
  default:
    docker:
      - image: cimg/ruby:2.6.9-browsers

commands:
  bundle:
    steps:
      - checkout
      - run:
          name: Install gems 
          command: |
            sudo gem update --system
            sudo gem install bundler
            sudo bundle config set path 'vendor/bundle'
  rspec:
    steps:
      - checkout
      - bundle
      - run:
          name: Run tests
          command: |
            mkdir /tmp/test-results
            TEST_FILES="$(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)"
            bundle exec rspec --profile \
                              --order random \
                              --format documentation \
                              --format html \
                              --out reports/rspec_results.html \
                              -- \
                              $TEST_FILES

jobs:
  rspec:
    executor: default
    steps:
      - checkout
      - bundle

workflows:
  build:
    jobs:
      - rspec