version: 2.1
executors:
  default:
    docker:
      - image: cimg/ruby:2.7.3-browsers

jobs:
  bundle:
    executor: default
    steps:
      - checkout
      - run:
          name: Install gems 
          command: |
            gem update --system
            gem install bundler
            bundle config set path 'vendor/bundle'
            bundle install --retry 3
  lint:
    executor: default
    steps:
      - checkout
      - run: 
          name: Rubocop
          command: bundle exec rubocop spec
  rspec:
    executor: default
    steps:
      - checkout
      - run: 
          name: Run tests
          command: |
            mkdir /tmp/test-results
            TEST_FILES="$(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)"
            bundle exec rspec --profile \
                              --order random \
                              --format documentation \
                              --format html \
                              --out reports/rspec_results.html \
                              -- \
                              $TEST_FILES

workflows:
  build:
    jobs:
      - bundle
      - rspec